 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 body {
     font: 13px Helvetica, Arial;
 }
 form {
     background: #000;
     padding: 3px;
     position: fixed;
     bottom: 0;
     width: 100%;
 }
 form input {
     border: 0;
     padding: 10px;
     width: 90%;
     margin-right: .5%;
 }
 form button {
     width: 9%;
     background: rgb(130, 224, 255);
     border: none;
     padding: 10px;
 }
 #messages {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }
 #messages li {
     padding: 5px 10px;
 }
 #messages li:nth-child(odd) {
     background: #eee;
 }
 #messages li.user-action {
     color: #A0A0B8;
 }
 #messages li.my-message {
     color: #CC3300;
 }
 #is-typing {
     color: #19873E;
 }
 #users {
     background: #3366CC;
     padding: 5px;
     right: 0;
     top: 0;
     margin: 15px;
     width: 200px;
     float: right;
     position: fixed;
     border-radius: 5px;
     border: 1px solid;
 }
 #texts {
     width: 100%;
     float: left;
     position: absolute;
 }
 #online-users {
     list-style-type: none;
 }
